{% if g.search_background %}
{% set background = g.search_background %}
{% else %}
{% set background = '/base/images/bg-banner.jpg' %}
{% endif %}

<style>
  .homepage .stats ul li {
    float: center;
    width: 33%;
  }
</style>
<div role="main" class="hero" style="background-image: url('{{ background }}')">
  <div class="container">
    <div class="row row1">
      <div class="col-md-6 col1">
        {% block promoted %}
        {% snippet 'home/snippets/promoted.html' %}
        {% endblock %}
      </div>
      <div class="col-md-6 col2" style="position: unset;">
        {% block search %}
        {% snippet 'home/snippets/search.html' %}
        {% endblock %}
        <br />
        {% block stats %}
        {% snippet 'home/snippets/stats.html' %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
<div>
  <div class="container">
    <div class="row row2" style="margin-bottom: 15px">
      {% block featured_group %}
      {% if category_dict and category_dict.keys()|length %}
      {% snippet 'home/snippets/multi_groups.html', category_dict=category_dict %}
      {% else %}
      {% set stats = h.get_site_statistics() %}
      {% snippet 'home/snippets/groups.html', stats=stats %}
      {% endif %}
      {% endblock %}
    </div>
    <div class="col-12 module-content box" style="margin-bottom: 15px">
      <div class="row row2">
        <div class="col-md-6">
          <div class="col-md-12" style="padding: 0px 0px 5px 0px;">
            <div class="textHeadBorderMiddle">
              <h3>ชุดข้อมูลที่ปรับปรุงล่าสุด</h3>
            </div>
          </div>
          {% block last_modified_datasets %}
          {% set last_modified_datasets = h.nso_get_last_modified_datasets(5) %}
          {% snippet 'home/snippets/last_modified_datasets.html', datasets = last_modified_datasets %}
          {% endblock %}
        </div>
        <div class="col-md-6">
          <div class="col-md-12" style="padding: 0px 0px 5px 0px;">
            <div class="textHeadBorderMiddle">
              <h3>ชุดข้อมูลที่มีการเข้าชมสูงสุด</h3>
            </div>
          </div>
          {% block top_view_datasets %}
          {% set top_view_datasets = h.nso_get_popular_datasets(5) %}
          {% snippet 'home/snippets/top_view_datasets.html', datasets = top_view_datasets %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  setTimeout(() => {
    $("#homeEventModal").modal('show');
  }, 500)
</script>